In [2]:
import pandas as pd
import numpy as np
import pytz
import plotly 
import geopy
import plotly.express as px
import folium
import matplotlib.pyplot as plt
import datetime

from geopy.geocoders import Nominatim
from folium.plugins import MarkerCluster
from folium.plugins import HeatMap

In [177]:
from random import randint
def random_with_N_digits(n):
    range_start = 10**(n-1)
    range_end = (10**n)-1
    return randint(range_start, range_end)

In [178]:
rnb = []
for i in range(30):
    rnb.append(random_with_N_digits(9))

In [59]:
#orders_raw = pd.read_csv('2023-2028_forecasting_form.csv')
FC_ZIP = pd.read_csv('FC_zip.csv').drop(axis = 1, columns = ['Unnamed: 0'])
GA_wkly = pd.read_csv('GA_weekly.csv')

In [60]:
GA_wkly

,Unnamed: 0,Week,Product,product category,sub-category,Variance,Quantity
0,0,1,1,A,f,31.125000,515
1,1,1,2,A,f,365.363636,893
2,2,1,3,A,f,590.177778,722
3,3,1,4,A,f,1347.285714,605
4,4,1,5,A,f,278.952381,556
...,...,...,...,...,...,...,...
10325,10325,52,694,U,s,112.500000,133
10326,10326,52,758,Y,f,72.214286,598
10327,10327,52,760,Y,f,5208.333333,422
10328,10328,52,761,Y,f,8.000000,146
10329,10329,52,771,Y,s,50.000000,146

In [61]:
GA_wkly = GA_wkly.drop(axis = 1, columns = ['Unnamed: 0',])
GA_wkly

       Week  Product product category sub-category     Variance  Quantity
0         1        1                A            f    31.125000       515
1         1        2                A            f   365.363636       893
2         1        3                A            f   590.177778       722
3         1        4                A            f  1347.285714       605
4         1        5                A            f   278.952381       556
...     ...      ...              ...          ...          ...       ...
10325    52      694                U            s   112.500000       133
10326    52      758                Y            f    72.214286       598
10327    52      760                Y            f  5208.333333       422
10328    52      761                Y            f     8.000000       146
10329    52      771                Y            s    50.000000       146

[10330 rows x 6 columns]

In [62]:
orders_raw = orders_raw.drop(axis = 1, columns = ['Unnamed: 0'])

NameError: name 'orders_raw' is not defined

In [ ]:
daily_orders_prd = pd.merge(orders_raw, FC_ZIP, on='ZIP_3d')

In [68]:
FC_ZIP[FC_ZIP['ZIP_3d']==292]

       ZIP     City State  ZIP_3d
292  30336  Atlanta    GA     292

In [64]:
#daily_orders_prd.to_csv('daily_order_prd_22_28')
daily_orders_prd = pd.read_csv('wkly_order_prd_22_28.csv')

In [66]:
len(daily_orders_prd)

63280734

In [65]:
GA = daily_orders_prd[daily_orders_prd['State']=='GA']
GA.head()

,Unnamed: 0,date,Quantity,Product,ZIP_3d,product category,sub-category,ZIP,City,State
3382094,3382094,2023-01-01,0,1,292,A,f,30336,Atlanta,GA
3382095,3382095,2023-01-08,0,1,292,A,f,30336,Atlanta,GA
3382096,3382096,2023-01-15,0,1,292,A,f,30336,Atlanta,GA
3382097,3382097,2023-01-22,0,1,292,A,f,30336,Atlanta,GA
3382098,3382098,2023-01-29,0,1,292,A,f,30336,Atlanta,GA

In [8]:
date = GA['date'].unique().tolist()
wk_num = []
for i in range(len(date)):
    wk_num.append(i%52+1)

NameError: name 'GA' is not defined

In [9]:
date_wk = pd.DataFrame(data = {'date':date, 'week':wk_num } )

NameError: name 'date' is not defined

In [8]:
GA_fore_wkly = pd.read_csv('GA_fore_wkly.csv')

,Unnamed: 0,date,Quantity_x,Product,ZIP_3d,product category_x,sub-category_x,ZIP,City,State,Week,product category_y,sub-category_y,Variance,Quantity_y
0,0,2023-01-01,0,1,292,A,f,30336,Atlanta,GA,1,A,f,31.125,515
1,244,2023-01-01,0,1,294,A,f,30336,Atlanta,GA,1,A,f,31.125,515
2,676,2023-01-01,0,1,368,A,f,30336,Atlanta,GA,1,A,f,31.125,515
3,915,2023-01-01,0,1,282,A,f,30336,Atlanta,GA,1,A,f,31.125,515
4,1341,2023-01-01,0,1,293,A,f,30336,Atlanta,GA,1,A,f,31.125,515

In [9]:
#GA_fore_wkly = pd.merge(GA, GA_fore_wkly, on=['date'])
GA_fore_wkly['Week'] = GA_fore_wkly['week']
GA_fore_wkly = GA_fore_wkly.drop(axis = 1, columns = ['week'])

In [10]:
GA_fore_wkly = pd.merge(GA_fore_wkly, GA_wkly, on=['Week', 'Product'])
GA_fore_wkly.columns

Index(['Unnamed: 0', 'date', 'Quantity_x', 'Product', 'ZIP_3d',
       'product category_x', 'sub-category_x', 'ZIP', 'City', 'State', 'Week',
       'product category_y', 'sub-category_y', 'Variance', 'Quantity_y'],
      dtype='object')

In [11]:
GA_fore = GA_fore_wkly[['date', 'Quantity_x', 'Product', 'ZIP_3d', 'product category_x',
       'sub-category_x', 'ZIP', 'City', 'State', 'Week', 'Variance']]

In [12]:
GA_fore

,date,Quantity_x,Product,ZIP_3d,product category_x,sub-category_x,ZIP,City,State,Week,Variance
0,2023-01-01,0,1,292,A,f,30336,Atlanta,GA,1,31.125
1,2023-01-01,0,1,294,A,f,30336,Atlanta,GA,1,31.125
2,2023-01-01,0,1,368,A,f,30336,Atlanta,GA,1,31.125
3,2023-01-01,0,1,282,A,f,30336,Atlanta,GA,1,31.125
4,2023-01-01,0,1,293,A,f,30336,Atlanta,GA,1,31.125
...,...,...,...,...,...,...,...,...,...,...,...
3043142,2028-12-17,0,557,290,R,s,30336,Atlanta,GA,52,288.000
3043143,2028-12-17,0,557,296,R,s,30336,Atlanta,GA,52,288.000
3043144,2028-12-17,0,557,297,R,s,30336,Atlanta,GA,52,288.000
3043145,2028-12-17,0,557,317,R,s,30336,Atlanta,GA,52,288.000
3043146,2028-12-17,0,557,392,R,s,30336,Atlanta,GA,52,288.000

In [13]:
GA_fore = GA_fore.rename(columns={"sub-category_x": "sub-category", "Quantity_x": "Quantity", 'product category_x': 'product category'})

In [5]:
#GA_fore_wkly.to_csv('GA_fore_wkly.csv')
#demo = pd.read_csv('GA_fore_wkly.csv')
GA_fore = pd.read_csv('GA_fore_wkly.csv')
GA_fore

,Unnamed: 0,date,Quantity,Product,ZIP_3d,product category,sub-category,ZIP,City,State,week
0,0,2023-01-01,0,1,292,A,f,30336,Atlanta,GA,1
1,1,2023-01-01,0,2,292,A,f,30336,Atlanta,GA,1
2,2,2023-01-01,0,3,292,A,f,30336,Atlanta,GA,1
3,3,2023-01-01,0,4,292,A,f,30336,Atlanta,GA,1
4,4,2023-01-01,0,5,292,A,f,30336,Atlanta,GA,1
...,...,...,...,...,...,...,...,...,...,...,...
5665811,5665811,2028-12-31,0,368,369,L,f,30336,Atlanta,GA,2
5665812,5665812,2028-12-31,0,372,369,L,m,30336,Atlanta,GA,2
5665813,5665813,2028-12-31,0,500,369,R,f,30336,Atlanta,GA,2
5665814,5665814,2028-12-31,0,501,369,R,f,30336,Atlanta,GA,2
5665815,5665815,2028-12-31,0,675,369,U,f,30336,Atlanta,GA,2

In [12]:
#index = ['Product','ZIP_3d']
#unique_comb = GA_fore.set_index(index).index.unique()

In [17]:
len(GA_fore)%10000

3147

In [ ]:
split_lst = []
for i in range(305):
    split_lst.append(i*10000)
split_lst.append(None)

In [31]:
df_lst = []
for i in range(len(split_lst)-1):
    df_lst.append(GA_fore.loc[split_lst[i]:split_lst[i+1],:].reset_index())

#df1 = df.loc[:5400268,:] # 0 to 5400267 rows and all 60 columns
#df2 = df.loc[5400268:,:] # 5400268 to last rows and all 60 columns

In [32]:
df_lst[304]

,index,date,Quantity,Product,ZIP_3d,product category,sub-category,ZIP,City,State,Week,Variance
0,3040000,2025-12-21,0,653,281,T,f,30336,Atlanta,GA,52,36.2
1,3040001,2025-12-21,0,653,305,T,f,30336,Atlanta,GA,52,36.2
2,3040002,2025-12-21,0,653,309,T,f,30336,Atlanta,GA,52,36.2
3,3040003,2025-12-21,0,653,315,T,f,30336,Atlanta,GA,52,36.2
4,3040004,2025-12-21,0,653,325,T,f,30336,Atlanta,GA,52,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...
3142,3043142,2028-12-17,0,557,290,R,s,30336,Atlanta,GA,52,288.0
3143,3043143,2028-12-17,0,557,296,R,s,30336,Atlanta,GA,52,288.0
3144,3043144,2028-12-17,0,557,297,R,s,30336,Atlanta,GA,52,288.0
3145,3043145,2028-12-17,0,557,317,R,s,30336,Atlanta,GA,52,288.0
3146,3043146,2028-12-17,0,557,392,R,s,30336,Atlanta,GA,52,288.0

## Robust Demand

In [33]:
import math
import time

def Robust_Demand(df_state):
    df_state['Robust Demand'] = ""
    for i in range(len(df_state)):
        exp_d = df_state.loc[i,'Quantity']
        sigma = df_state.loc[i,'Variance']
        if df_state.loc[i,'sub-category']=='f':
            df_state.loc[i,'Robust Demand']= math.ceil(exp_d*(1/7)+2.33*np.sqrt(sigma*(1/7)))
        elif df_state.loc[i,'sub-category']=='m':
            df_state.loc[i,'Robust Demand']= math.ceil(exp_d*(2/7)+2.33*np.sqrt(sigma*(2/7)))
        elif df_state.loc[i,'sub-category']=='s':
            df_state.loc[i,'Robust Demand']= math.ceil(exp_d*(3/7)+2.33*np.sqrt(sigma*(3/7)))
    return df_state

In [35]:
ga2328_lst = []
start_time = time.time()
for i in range(len(df_lst)):
    print(i, " completed","--- %s seconds ---" % (time.time() - start_time))
    ga2328_lst.append(Robust_Demand(df_lst[i]))

0  completed --- 5.817413330078125e-05 seconds ---
1  completed --- 4.947355031967163 seconds ---
2  completed --- 9.788294076919556 seconds ---
3  completed --- 14.606900930404663 seconds ---
4  completed --- 19.303300142288208 seconds ---
5  completed --- 24.261423110961914 seconds ---
6  completed --- 29.23053216934204 seconds ---
7  completed --- 33.966684103012085 seconds ---
8  completed --- 38.66292405128479 seconds ---
9  completed --- 43.66254210472107 seconds ---
10  completed --- 48.848597049713135 seconds ---
11  completed --- 53.55053901672363 seconds ---
12  completed --- 58.272682905197144 seconds ---
13  completed --- 62.97332286834717 seconds ---
14  completed --- 67.98930191993713 seconds ---
15  completed --- 72.64041209220886 seconds ---
16  completed --- 77.26380801200867 seconds ---
17  completed --- 81.94801497459412 seconds ---
18  completed --- 86.87998008728027 seconds ---
19  completed --- 91.72093105316162 seconds ---
20  completed --- 96.47585606575012 seconds ---
21  completed --- 101.16843628883362 seconds ---
22  completed --- 105.90198016166687 seconds ---
23  completed --- 110.60631012916565 seconds ---
24  completed --- 115.24574518203735 seconds ---
25  completed --- 119.9496591091156 seconds ---
26  completed --- 124.8333261013031 seconds ---
27  completed --- 129.45365715026855 seconds ---
28  completed --- 134.28476786613464 seconds ---
29  completed --- 139.0885660648346 seconds ---
30  completed --- 143.81742215156555 seconds ---
31  completed --- 148.66478204727173 seconds ---
32  completed --- 153.6146731376648 seconds ---
33  completed --- 158.31782698631287 seconds ---
34  completed --- 162.99175310134888 seconds ---
35  completed --- 167.8869960308075 seconds ---
36  completed --- 172.64610195159912 seconds ---
37  completed --- 177.28872895240784 seconds ---
38  completed --- 181.97736501693726 seconds ---
39  completed --- 186.66558718681335 seconds ---
40  completed --- 191.42562198638916 seconds ---
41  completed --- 196.1287670135498 seconds ---
42  completed --- 200.85523390769958 seconds ---
43  completed --- 205.97668027877808 seconds ---
44  completed --- 210.96806406974792 seconds ---
45  completed --- 215.80541610717773 seconds ---
46  completed --- 222.42401504516602 seconds ---
47  completed --- 227.3836531639099 seconds ---
48  completed --- 232.36691617965698 seconds ---
49  completed --- 237.64110708236694 seconds ---
50  completed --- 242.3446741104126 seconds ---
51  completed --- 247.03048706054688 seconds ---
52  completed --- 251.75788688659668 seconds ---
53  completed --- 256.54157996177673 seconds ---
54  completed --- 261.3479480743408 seconds ---
55  completed --- 266.4413511753082 seconds ---
56  completed --- 271.2656149864197 seconds ---
57  completed --- 275.93773198127747 seconds ---
58  completed --- 280.62216806411743 seconds ---
59  completed --- 285.33705496788025 seconds ---
60  completed --- 290.0936300754547 seconds ---
61  completed --- 294.8529419898987 seconds ---
62  completed --- 299.7223711013794 seconds ---
63  completed --- 304.51761507987976 seconds ---
64  completed --- 309.1490669250488 seconds ---
65  completed --- 313.7789649963379 seconds ---
66  completed --- 318.5308589935303 seconds ---
67  completed --- 323.2479500770569 seconds ---
68  completed --- 328.15876507759094 seconds ---
69  completed --- 332.87526392936707 seconds ---
70  completed --- 337.5170249938965 seconds ---
71  completed --- 342.13352608680725 seconds ---
72  completed --- 346.76064825057983 seconds ---
73  completed --- 351.4933440685272 seconds ---
74  completed --- 358.13589811325073 seconds ---
75  completed --- 363.0533621311188 seconds ---
76  completed --- 367.88777899742126 seconds ---
77  completed --- 372.9468820095062 seconds ---
78  completed --- 378.4291670322418 seconds ---
79  completed --- 384.2487680912018 seconds ---
80  completed --- 389.86604404449463 seconds ---
81  completed --- 395.68859100341797 seconds ---
82  completed --- 401.28526306152344 seconds ---
83  completed --- 407.21509408950806 seconds ---
84  completed --- 413.16994190216064 seconds ---
85  completed --- 418.5940110683441 seconds ---
86  completed --- 424.0707252025604 seconds ---
87  completed --- 429.5524468421936 seconds ---
88  completed --- 435.5412700176239 seconds ---
89  completed --- 441.47078919410706 seconds ---
90  completed --- 447.0799310207367 seconds ---
91  completed --- 452.396812915802 seconds ---
92  completed --- 457.6847882270813 seconds ---
93  completed --- 462.81432008743286 seconds ---
94  completed --- 467.99652123451233 seconds ---
95  completed --- 473.2792890071869 seconds ---
96  completed --- 478.39423990249634 seconds ---
97  completed --- 483.8360071182251 seconds ---
98  completed --- 488.94636511802673 seconds ---
99  completed --- 494.03294706344604 seconds ---
100  completed --- 500.8912329673767 seconds ---
101  completed --- 506.11057710647583 seconds ---
102  completed --- 511.21316027641296 seconds ---
103  completed --- 516.2062251567841 seconds ---
104  completed --- 521.1476011276245 seconds ---
105  completed --- 526.1072721481323 seconds ---
106  completed --- 531.0483860969543 seconds ---
107  completed --- 536.1940450668335 seconds ---
108  completed --- 541.078488111496 seconds ---
109  completed --- 546.1197941303253 seconds ---
110  completed --- 551.4398231506348 seconds ---
111  completed --- 556.3774871826172 seconds ---
112  completed --- 561.3015191555023 seconds ---
113  completed --- 566.4977641105652 seconds ---
114  completed --- 571.8226599693298 seconds ---
115  completed --- 576.8445522785187 seconds ---
116  completed --- 581.7787461280823 seconds ---
117  completed --- 586.6910812854767 seconds ---
118  completed --- 591.728255033493 seconds ---
119  completed --- 596.6469700336456 seconds ---
120  completed --- 601.5773041248322 seconds ---
121  completed --- 606.4966390132904 seconds ---
122  completed --- 611.4477941989899 seconds ---
123  completed --- 616.4974811077118 seconds ---
124  completed --- 622.0933020114899 seconds ---
125  completed --- 627.2614331245422 seconds ---
126  completed --- 632.3486220836639 seconds ---
127  completed --- 637.33837890625 seconds ---
128  completed --- 642.4449269771576 seconds ---
129  completed --- 647.637008190155 seconds ---
130  completed --- 652.6026880741119 seconds ---
131  completed --- 657.495059967041 seconds ---
132  completed --- 662.2412550449371 seconds ---
133  completed --- 667.0422110557556 seconds ---
134  completed --- 671.8335762023926 seconds ---
135  completed --- 676.9256570339203 seconds ---
136  completed --- 681.8698370456696 seconds ---
137  completed --- 687.0355341434479 seconds ---
138  completed --- 692.1729011535645 seconds ---
139  completed --- 697.1107339859009 seconds ---
140  completed --- 701.9626200199127 seconds ---
141  completed --- 706.8004450798035 seconds ---
142  completed --- 711.8866441249847 seconds ---
143  completed --- 718.2758319377899 seconds ---
144  completed --- 724.1207332611084 seconds ---
145  completed --- 729.7677962779999 seconds ---
146  completed --- 735.8712229728699 seconds ---
147  completed --- 741.3603630065918 seconds ---
148  completed --- 746.9498121738434 seconds ---
149  completed --- 752.335283279419 seconds ---
150  completed --- 757.8785672187805 seconds ---
151  completed --- 763.9743242263794 seconds ---
152  completed --- 769.9320161342621 seconds ---
153  completed --- 775.5110969543457 seconds ---
154  completed --- 781.0632009506226 seconds ---
155  completed --- 786.3186240196228 seconds ---
156  completed --- 791.5287568569183 seconds ---
157  completed --- 796.723639011383 seconds ---
158  completed --- 801.9180788993835 seconds ---
159  completed --- 807.6103069782257 seconds ---
160  completed --- 813.1525001525879 seconds ---
161  completed --- 818.3744821548462 seconds ---
162  completed --- 823.4557292461395 seconds ---
163  completed --- 828.489984035492 seconds ---
164  completed --- 833.4586589336395 seconds ---
165  completed --- 838.4727809429169 seconds ---
166  completed --- 843.4621050357819 seconds ---
167  completed --- 848.5913200378418 seconds ---
168  completed --- 853.693932056427 seconds ---

169  completed --- 858.9706130027771 seconds ---
170  completed --- 864.1265959739685 seconds ---
171  completed --- 869.1017179489136 seconds ---
172  completed --- 874.0770359039307 seconds ---
173  completed --- 879.0435121059418 seconds ---
174  completed --- 883.9271609783173 seconds ---
175  completed --- 888.8476030826569 seconds ---
176  completed --- 893.7658860683441 seconds ---
177  completed --- 898.9736270904541 seconds ---
178  completed --- 904.503858089447 seconds ---
179  completed --- 910.2536292076111 seconds ---
180  completed --- 915.2279570102692 seconds ---
181  completed --- 920.1688969135284 seconds ---
182  completed --- 925.2037029266357 seconds ---
183  completed --- 930.3467571735382 seconds ---
184  completed --- 935.0399391651154 seconds ---
185  completed --- 940.1022670269012 seconds ---
186  completed --- 945.2400748729706 seconds ---
187  completed --- 950.3168470859528 seconds ---
188  completed --- 955.177716255188 seconds ---
189  completed --- 960.4168481826782 seconds ---
190  completed --- 965.6357381343842 seconds ---
191  completed --- 970.7768740653992 seconds ---
192  completed --- 975.6414959430695 seconds ---
193  completed --- 980.3614981174469 seconds ---
194  completed --- 985.7297699451447 seconds ---
195  completed --- 990.9408550262451 seconds ---
196  completed --- 996.3992161750793 seconds ---
197  completed --- 1001.9898061752319 seconds ---
198  completed --- 1007.2845449447632 seconds ---
199  completed --- 1012.4162230491638 seconds ---
200  completed --- 1017.2198162078857 seconds ---
201  completed --- 1021.8771650791168 seconds ---
202  completed --- 1026.5253989696503 seconds ---
203  completed --- 1031.5288610458374 seconds ---
204  completed --- 1038.1022560596466 seconds ---
205  completed --- 1043.1368629932404 seconds ---
206  completed --- 1048.9186322689056 seconds ---
207  completed --- 1054.5692551136017 seconds ---
208  completed --- 1059.8500871658325 seconds ---
209  completed --- 1065.1475582122803 seconds ---
210  completed --- 1070.6767761707306 seconds ---
211  completed --- 1076.514633178711 seconds ---
212  completed --- 1081.7357869148254 seconds ---
213  completed --- 1086.7990922927856 seconds ---
214  completed --- 1091.9887330532074 seconds ---
215  completed --- 1097.0741128921509 seconds ---
216  completed --- 1102.062643289566 seconds ---
217  completed --- 1107.0193991661072 seconds ---
218  completed --- 1112.0888590812683 seconds ---
219  completed --- 1117.0579299926758 seconds ---
220  completed --- 1122.0611681938171 seconds ---
221  completed --- 1127.0721380710602 seconds ---
222  completed --- 1132.01984500885 seconds ---
223  completed --- 1136.9568650722504 seconds ---
224  completed --- 1141.9587020874023 seconds ---
225  completed --- 1146.8679049015045 seconds ---
226  completed --- 1151.8433151245117 seconds ---
227  completed --- 1156.8861401081085 seconds ---
228  completed --- 1161.9637899398804 seconds ---
229  completed --- 1167.7154941558838 seconds ---
230  completed --- 1173.486554145813 seconds ---
231  completed --- 1178.96275806427 seconds ---
232  completed --- 1184.0108661651611 seconds ---
233  completed --- 1188.9514150619507 seconds ---
234  completed --- 1194.108924150467 seconds ---
235  completed --- 1199.2011981010437 seconds ---
236  completed --- 1204.1428048610687 seconds ---
237  completed --- 1209.1018130779266 seconds ---
238  completed --- 1214.1262130737305 seconds ---
239  completed --- 1219.0609471797943 seconds ---
240  completed --- 1224.0017981529236 seconds ---
241  completed --- 1228.8623220920563 seconds ---
242  completed --- 1234.2047300338745 seconds ---
243  completed --- 1239.7167699337006 seconds ---
244  completed --- 1244.7103960514069 seconds ---
245  completed --- 1249.69726729393 seconds ---
246  completed --- 1254.7480380535126 seconds ---
247  completed --- 1260.2031750679016 seconds ---
248  completed --- 1265.7535071372986 seconds ---
249  completed --- 1271.2109491825104 seconds ---
250  completed --- 1276.6617970466614 seconds ---
251  completed --- 1281.584165096283 seconds ---
252  completed --- 1286.6532599925995 seconds ---
253  completed --- 1291.7841069698334 seconds ---
254  completed --- 1296.6791911125183 seconds ---
255  completed --- 1301.6017110347748 seconds ---
256  completed --- 1306.6015150547028 seconds ---
257  completed --- 1311.5773339271545 seconds ---
258  completed --- 1316.3193700313568 seconds ---
259  completed --- 1321.4310812950134 seconds ---
260  completed --- 1326.3759841918945 seconds ---
261  completed --- 1331.4447989463806 seconds ---
262  completed --- 1336.5111689567566 seconds ---
263  completed --- 1341.2746331691742 seconds ---
264  completed --- 1346.3175358772278 seconds ---
265  completed --- 1351.2382950782776 seconds ---
266  completed --- 1356.3497042655945 seconds ---
267  completed --- 1361.2319102287292 seconds ---
268  completed --- 1366.1480062007904 seconds ---
269  completed --- 1370.822802066803 seconds ---
270  completed --- 1375.4891879558563 seconds ---
271  completed --- 1380.1210238933563 seconds ---
272  completed --- 1384.7710452079773 seconds ---
273  completed --- 1389.4452600479126 seconds ---
274  completed --- 1394.1566052436829 seconds ---
275  completed --- 1398.771339893341 seconds ---
276  completed --- 1403.8462781906128 seconds ---
277  completed --- 1408.7817792892456 seconds ---
278  completed --- 1413.6831851005554 seconds ---
279  completed --- 1418.4038190841675 seconds ---
280  completed --- 1423.1227519512177 seconds ---
281  completed --- 1427.809387922287 seconds ---
282  completed --- 1432.4443690776825 seconds ---
283  completed --- 1437.591079235077 seconds ---
284  completed --- 1443.4973690509796 seconds ---
285  completed --- 1448.569060087204 seconds ---
286  completed --- 1453.7441260814667 seconds ---
287  completed --- 1458.571230173111 seconds ---
288  completed --- 1463.6597781181335 seconds ---
289  completed --- 1468.7662811279297 seconds ---
290  completed --- 1473.843456029892 seconds ---
291  completed --- 1478.9221141338348 seconds ---
292  completed --- 1484.1052610874176 seconds ---
293  completed --- 1489.5750839710236 seconds ---
294  completed --- 1495.0915381908417 seconds ---
295  completed --- 1500.4776501655579 seconds ---
296  completed --- 1506.2433440685272 seconds ---
297  completed --- 1511.412409067154 seconds ---
298  completed --- 1516.6154861450195 seconds ---
299  completed --- 1521.585380077362 seconds ---
300  completed --- 1526.691370010376 seconds ---
301  completed --- 1531.760008096695 seconds ---
302  completed --- 1536.8334500789642 seconds ---
303  completed --- 1541.9675471782684 seconds ---
304  completed --- 1547.4563009738922 seconds ---

In [36]:
res_df = pd.concat(ga2328_lst)

In [39]:
#res_df.to_csv('2023_28_GA_rob_demand.csv')

## Robust Cap

In [79]:
def Robust_Capacity(df_state):
    df_state['Robust Capacity'] = ""
    for i in range(len(df_state)):
        exp_rd = df_state.loc[i,'Robust Demand']
        if df_state.loc[i,'sub-category']=='f':
            df_state.loc[i,'Robust Capacity']= math.floor((float(exp_rd)*7*275)/(0.9*132000*0.9*0.9*1))
        elif df_state.loc[i,'sub-category']=='m':
            df_state.loc[i,'Robust Capacity']= math.floor((float(exp_rd)*7*556)/(0.9*266880*0.9*0.9*2))
        elif df_state.loc[i,'sub-category']=='s':
            df_state.loc[i,'Robust Capacity']= math.floor((float(exp_rd)*7*320)/(0.9*153600*0.9*0.9*3))
    return df_state

In [106]:
cap_lst = [] 

start_time = time.time()
for i in range(len(ga2328_lst)):
    print(i, " completed","--- %s seconds ---" % (time.time() - start_time))
    cap_lst.append(Robust_Demand(ga2328_lst[i]))

0  completed --- 6.604194641113281e-05 seconds ---
1  completed --- 5.499730825424194 seconds ---
2  completed --- 10.785529851913452 seconds ---
3  completed --- 16.103970050811768 seconds ---
4  completed --- 21.312636852264404 seconds ---
5  completed --- 26.03536581993103 seconds ---
6  completed --- 30.51099705696106 seconds ---
7  completed --- 35.12716484069824 seconds ---
8  completed --- 39.65856194496155 seconds ---
9  completed --- 44.153199911117554 seconds ---
10  completed --- 48.72584891319275 seconds ---
11  completed --- 53.221325159072876 seconds ---
12  completed --- 57.8281090259552 seconds ---
13  completed --- 62.33868908882141 seconds ---
14  completed --- 66.89827585220337 seconds ---
15  completed --- 71.52397394180298 seconds ---
16  completed --- 76.01977801322937 seconds ---
17  completed --- 80.53887796401978 seconds ---
18  completed --- 88.72567772865295 seconds ---
19  completed --- 95.49231171607971 seconds ---
20  completed --- 100.68737387657166 seconds ---
21  completed --- 105.28710770606995 seconds ---
22  completed --- 109.836678981781 seconds ---
23  completed --- 114.33193707466125 seconds ---
24  completed --- 119.10138177871704 seconds ---
25  completed --- 123.88336682319641 seconds ---
26  completed --- 128.37356805801392 seconds ---
27  completed --- 132.8115270137787 seconds ---
28  completed --- 137.23741173744202 seconds ---
29  completed --- 141.74452996253967 seconds ---
30  completed --- 146.2258927822113 seconds ---
31  completed --- 150.74507188796997 seconds ---
32  completed --- 155.1982069015503 seconds ---
33  completed --- 159.65363788604736 seconds ---
34  completed --- 164.057363986969 seconds ---
35  completed --- 168.50479793548584 seconds ---
36  completed --- 172.98978900909424 seconds ---
37  completed --- 177.71229004859924 seconds ---
38  completed --- 182.14388990402222 seconds ---
39  completed --- 186.58694672584534 seconds ---
40  completed --- 191.079274892807 seconds ---
41  completed --- 195.5207381248474 seconds ---
42  completed --- 199.9896399974823 seconds ---
43  completed --- 204.43289184570312 seconds ---
44  completed --- 208.89973092079163 seconds ---
45  completed --- 213.36458897590637 seconds ---
46  completed --- 218.08655190467834 seconds ---
47  completed --- 222.62304997444153 seconds ---
48  completed --- 227.10266971588135 seconds ---
49  completed --- 231.57072377204895 seconds ---
50  completed --- 236.02381706237793 seconds ---
51  completed --- 240.85735082626343 seconds ---
52  completed --- 245.40043997764587 seconds ---
53  completed --- 249.90430903434753 seconds ---
54  completed --- 254.40621280670166 seconds ---
55  completed --- 258.96050572395325 seconds ---
56  completed --- 263.5214989185333 seconds ---
57  completed --- 268.17948603630066 seconds ---
58  completed --- 272.70954179763794 seconds ---
59  completed --- 277.1993999481201 seconds ---
60  completed --- 281.7116470336914 seconds ---
61  completed --- 286.1787440776825 seconds ---
62  completed --- 291.85169792175293 seconds ---
63  completed --- 297.17038583755493 seconds ---
64  completed --- 302.16435408592224 seconds ---
65  completed --- 307.32393288612366 seconds ---
66  completed --- 312.1086747646332 seconds ---
67  completed --- 317.0181849002838 seconds ---
68  completed --- 322.0403859615326 seconds ---
69  completed --- 327.56995677948 seconds ---
70  completed --- 332.6770050525665 seconds ---
71  completed --- 337.8973619937897 seconds ---
72  completed --- 343.03433179855347 seconds ---
73  completed --- 347.48598980903625 seconds ---
74  completed --- 352.01839113235474 seconds ---
75  completed --- 356.5074739456177 seconds ---
76  completed --- 361.26037979125977 seconds ---
77  completed --- 365.7717158794403 seconds ---
78  completed --- 370.3233108520508 seconds ---
79  completed --- 375.00345396995544 seconds ---
80  completed --- 379.6558630466461 seconds ---
81  completed --- 384.26636385917664 seconds ---
82  completed --- 388.81666684150696 seconds ---
83  completed --- 393.3074240684509 seconds ---
84  completed --- 397.7882058620453 seconds ---
85  completed --- 402.35617208480835 seconds ---
86  completed --- 407.4656388759613 seconds ---
87  completed --- 412.0987079143524 seconds ---
88  completed --- 417.18965101242065 seconds ---
89  completed --- 424.8707687854767 seconds ---
90  completed --- 431.65963792800903 seconds ---
91  completed --- 437.0138168334961 seconds ---
92  completed --- 442.1889889240265 seconds ---
93  completed --- 447.28671884536743 seconds ---
94  completed --- 452.87693190574646 seconds ---
95  completed --- 458.1805589199066 seconds ---
96  completed --- 463.16330075263977 seconds ---
97  completed --- 468.05994987487793 seconds ---
98  completed --- 473.3519139289856 seconds ---
99  completed --- 478.1311979293823 seconds ---
100  completed --- 483.76700377464294 seconds ---
101  completed --- 489.69002079963684 seconds ---
102  completed --- 495.3892819881439 seconds ---
103  completed --- 503.06217980384827 seconds ---
104  completed --- 509.1498098373413 seconds ---
105  completed --- 516.041375875473 seconds ---
106  completed --- 523.0434739589691 seconds ---
107  completed --- 529.3992137908936 seconds ---
108  completed --- 535.4300878047943 seconds ---
109  completed --- 541.3593418598175 seconds ---
110  completed --- 546.6821639537811 seconds ---
111  completed --- 552.2530438899994 seconds ---
112  completed --- 557.646990776062 seconds ---
113  completed --- 562.2996678352356 seconds ---
114  completed --- 567.3593599796295 seconds ---
115  completed --- 574.5840289592743 seconds ---
116  completed --- 579.8295497894287 seconds ---
117  completed --- 585.0931057929993 seconds ---
118  completed --- 589.8900699615479 seconds ---
119  completed --- 595.327819108963 seconds ---
120  completed --- 600.9560778141022 seconds ---
121  completed --- 606.6225638389587 seconds ---
122  completed --- 612.1211159229279 seconds ---
123  completed --- 617.6056230068207 seconds ---
124  completed --- 622.6665070056915 seconds ---
125  completed --- 627.5770409107208 seconds ---
126  completed --- 632.2074809074402 seconds ---
127  completed --- 637.1190268993378 seconds ---
128  completed --- 642.1374688148499 seconds ---
129  completed --- 647.0734729766846 seconds ---
130  completed --- 651.9010019302368 seconds ---
131  completed --- 656.9335968494415 seconds ---
132  completed --- 661.8794858455658 seconds ---
133  completed --- 667.1379609107971 seconds ---
134  completed --- 672.0568578243256 seconds ---
135  completed --- 677.0578308105469 seconds ---
136  completed --- 682.6906049251556 seconds ---
137  completed --- 688.0713317394257 seconds ---
138  completed --- 692.7759659290314 seconds ---
139  completed --- 697.7773139476776 seconds ---
140  completed --- 702.9054107666016 seconds ---
141  completed --- 707.8480870723724 seconds ---
142  completed --- 712.4534687995911 seconds ---
143  completed --- 717.2894239425659 seconds ---
144  completed --- 722.4151029586792 seconds ---
145  completed --- 727.4505488872528 seconds ---
146  completed --- 732.1876180171967 seconds ---
147  completed --- 737.6021258831024 seconds ---
148  completed --- 742.6698698997498 seconds ---
149  completed --- 748.1310288906097 seconds ---
150  completed --- 752.896311044693 seconds ---
151  completed --- 757.4965398311615 seconds ---
152  completed --- 762.4649579524994 seconds ---
153  completed --- 767.4502930641174 seconds ---
154  completed --- 772.2714970111847 seconds ---
155  completed --- 777.2908668518066 seconds ---
156  completed --- 782.2276029586792 seconds ---
157  completed --- 787.1393709182739 seconds ---
158  completed --- 791.730761051178 seconds ---
159  completed --- 796.4133179187775 seconds ---
160  completed --- 800.9816048145294 seconds ---
161  completed --- 805.5822458267212 seconds ---
162  completed --- 810.5337789058685 seconds ---
163  completed --- 815.515576839447 seconds ---
164  completed --- 820.4634947776794 seconds ---
165  completed --- 825.6237978935242 seconds ---
166  completed --- 830.8784699440002 seconds ---
167  completed --- 835.8338487148285 seconds ---
168  completed --- 840.7698669433594 seconds ---

169  completed --- 845.7565131187439 seconds ---
170  completed --- 851.3593158721924 seconds ---
171  completed --- 856.5919909477234 seconds ---
172  completed --- 861.5794229507446 seconds ---
173  completed --- 866.781909942627 seconds ---
174  completed --- 872.0974278450012 seconds ---
175  completed --- 877.4141359329224 seconds ---
176  completed --- 882.9128839969635 seconds ---
177  completed --- 887.744616985321 seconds ---
178  completed --- 892.9763789176941 seconds ---
179  completed --- 898.4774148464203 seconds ---
180  completed --- 903.4125819206238 seconds ---
181  completed --- 908.4202387332916 seconds ---
182  completed --- 913.1061251163483 seconds ---
183  completed --- 918.4672479629517 seconds ---
184  completed --- 923.7814679145813 seconds ---
185  completed --- 929.1614379882812 seconds ---
186  completed --- 934.5912749767303 seconds ---
187  completed --- 940.0881280899048 seconds ---
188  completed --- 945.1405968666077 seconds ---
189  completed --- 949.9011309146881 seconds ---
190  completed --- 954.7654180526733 seconds ---
191  completed --- 959.7989230155945 seconds ---
192  completed --- 965.1270499229431 seconds ---
193  completed --- 970.2492098808289 seconds ---
194  completed --- 975.2610177993774 seconds ---
195  completed --- 980.1839978694916 seconds ---
196  completed --- 985.4258890151978 seconds ---
197  completed --- 991.0970799922943 seconds ---
198  completed --- 995.8290519714355 seconds ---
199  completed --- 1000.3712236881256 seconds ---
200  completed --- 1004.9162669181824 seconds ---
201  completed --- 1009.4708049297333 seconds ---
202  completed --- 1013.9234929084778 seconds ---
203  completed --- 1018.5051889419556 seconds ---
204  completed --- 1023.2465689182281 seconds ---
205  completed --- 1027.8147478103638 seconds ---
206  completed --- 1032.2912049293518 seconds ---
207  completed --- 1037.5647048950195 seconds ---
208  completed --- 1042.643867969513 seconds ---
209  completed --- 1048.2442569732666 seconds ---
210  completed --- 1053.2886028289795 seconds ---
211  completed --- 1057.9892637729645 seconds ---
212  completed --- 1062.5345158576965 seconds ---
213  completed --- 1067.638200044632 seconds ---
214  completed --- 1072.3846898078918 seconds ---
215  completed --- 1077.0701320171356 seconds ---
216  completed --- 1081.6687369346619 seconds ---
217  completed --- 1086.220039844513 seconds ---
218  completed --- 1090.9161019325256 seconds ---
219  completed --- 1095.5004329681396 seconds ---
220  completed --- 1100.7596538066864 seconds ---
221  completed --- 1105.8217198848724 seconds ---
222  completed --- 1111.1313219070435 seconds ---
223  completed --- 1116.0635237693787 seconds ---
224  completed --- 1120.6697528362274 seconds ---
225  completed --- 1125.2539110183716 seconds ---
226  completed --- 1130.2687628269196 seconds ---
227  completed --- 1134.888496875763 seconds ---
228  completed --- 1139.8521678447723 seconds ---
229  completed --- 1144.8202691078186 seconds ---
230  completed --- 1149.5448729991913 seconds ---
231  completed --- 1154.122498035431 seconds ---
232  completed --- 1158.744155883789 seconds ---
233  completed --- 1163.3098349571228 seconds ---
234  completed --- 1167.9755001068115 seconds ---
235  completed --- 1172.6046888828278 seconds ---
236  completed --- 1177.5004737377167 seconds ---
237  completed --- 1182.3262259960175 seconds ---
238  completed --- 1187.1712419986725 seconds ---
239  completed --- 1192.3578507900238 seconds ---
240  completed --- 1197.278580904007 seconds ---
241  completed --- 1202.0512359142303 seconds ---
242  completed --- 1206.7491199970245 seconds ---
243  completed --- 1211.8105869293213 seconds ---
244  completed --- 1216.8879749774933 seconds ---
245  completed --- 1222.147176027298 seconds ---
246  completed --- 1226.8554508686066 seconds ---
247  completed --- 1231.5740518569946 seconds ---
248  completed --- 1236.4529268741608 seconds ---
249  completed --- 1241.2447428703308 seconds ---
250  completed --- 1246.2359738349915 seconds ---
251  completed --- 1251.7063159942627 seconds ---
252  completed --- 1256.6462850570679 seconds ---
253  completed --- 1262.0102519989014 seconds ---
254  completed --- 1266.6836829185486 seconds ---
255  completed --- 1271.4762938022614 seconds ---
256  completed --- 1276.3132688999176 seconds ---
257  completed --- 1281.008682012558 seconds ---
258  completed --- 1286.1795868873596 seconds ---
259  completed --- 1291.3687648773193 seconds ---
260  completed --- 1296.5127038955688 seconds ---
261  completed --- 1301.441571712494 seconds ---
262  completed --- 1306.8738598823547 seconds ---
263  completed --- 1312.2875237464905 seconds ---
264  completed --- 1318.8490109443665 seconds ---
265  completed --- 1324.9177720546722 seconds ---
266  completed --- 1332.8629410266876 seconds ---
267  completed --- 1338.7955567836761 seconds ---
268  completed --- 1343.9754269123077 seconds ---
269  completed --- 1349.5898571014404 seconds ---
270  completed --- 1355.040519952774 seconds ---
271  completed --- 1360.4056241512299 seconds ---
272  completed --- 1365.3056709766388 seconds ---
273  completed --- 1371.1996250152588 seconds ---
274  completed --- 1376.6635279655457 seconds ---
275  completed --- 1383.4133670330048 seconds ---
276  completed --- 1388.9845819473267 seconds ---
277  completed --- 1395.6065337657928 seconds ---
278  completed --- 1400.9959518909454 seconds ---
279  completed --- 1406.3673679828644 seconds ---
280  completed --- 1411.6749708652496 seconds ---
281  completed --- 1416.9932208061218 seconds ---
282  completed --- 1422.390242099762 seconds ---
283  completed --- 1427.293667793274 seconds ---
284  completed --- 1432.5923037528992 seconds ---
285  completed --- 1438.1434528827667 seconds ---
286  completed --- 1443.5586459636688 seconds ---
287  completed --- 1448.8261771202087 seconds ---
288  completed --- 1453.9964590072632 seconds ---
289  completed --- 1459.1648788452148 seconds ---
290  completed --- 1464.316654920578 seconds ---
291  completed --- 1469.4736897945404 seconds ---
292  completed --- 1474.561381816864 seconds ---
293  completed --- 1479.9046211242676 seconds ---
294  completed --- 1484.8860800266266 seconds ---
295  completed --- 1490.2276589870453 seconds ---
296  completed --- 1495.6762409210205 seconds ---
297  completed --- 1500.8758928775787 seconds ---
298  completed --- 1505.8296451568604 seconds ---
299  completed --- 1510.6743879318237 seconds ---
300  completed --- 1515.7108128070831 seconds ---
301  completed --- 1520.6260290145874 seconds ---
302  completed --- 1525.8635478019714 seconds ---
303  completed --- 1531.0233318805695 seconds ---
304  completed --- 1536.9552969932556 seconds ---

In [107]:
res_df = pd.concat(cap_lst)

In [108]:
res_df.to_csv('GA_cap_demand_2328.csv')

In [110]:
res_df['Robust Capacity'].unique()

array([0, 1, 2, nan], dtype=object)

# Inventory

In [26]:
inv_df = pd.read_csv('GA_cap_demand_2328.csv')

In [47]:
"""def Inventory(df_state, prod:int):
    prod= df_state[df_state['Product']==prod]
    prod['Cumulative Demand']= prod['Robust Demand'].cumsum()
    
    # Smoothed Cumulative Production
    prod_c=prod.copy().reset_index()
    prod['coeff'] = (prod['Cumulative Demand'].max()-prod['Cumulative Demand'].min())/len(prod)
    prod['Smoothed Cumulative Production']=prod['coeff'].cumsum()
    
    # Fully Smoother Inventory
    prod['Fully Smoother Inventory']=prod['Smoothed Cumulative Production']-prod['Cumulative Demand'] 
    prod=prod.drop(columns='coeff')
    return prod
"""

In [ ]:
""""def Inventory(state:str, prod:int):
    df_state=Robust_Demand(state)
    # generate Cumulative Demand
    prod= df_state[df_state['Product']==prod]
    prod['Cumulative Demand']= prod['Robust Demand'].cumsum()
    
    # Smoothed Cumulative Production
    prod_c=prod.copy().reset_index()
    prod['coeff'] = (prod['Cumulative Demand'].max()-prod['Cumulative Demand'].min())/len(prod)
    prod['Smoothed Cumulative Production']=prod['coeff'].cumsum()
    
    # Fully Smoother Inventory
    prod['Fully Smoother Inventory']=prod['Smoothed Cumulative Production']-prod['Cumulative Demand'] 
    prod=prod.drop(columns='coeff')
    return prod""""

In [115]:
def Inventory(df_state):
    df_state['Robust Inventory']= df_state['Robust Capacity']*50- df_state['Robust Demand']
    INV = [-x if x <0 else 0 for x in df_state['Robust Inventory']]
    INV_int=[]
    for i in INV:
        INV_int.append(math.ceil(i))
    df_state['Robust Inventory']= INV_int
    return df_state

In [117]:
inv_ga = Inventory(inv_df)

In [146]:
inv_ga.columns

Index(['Unnamed: 0', 'index', 'date', 'Quantity', 'Product', 'ZIP_3d',
       'product category', 'sub-category', 'ZIP', 'City', 'State', 'Week',
       'Variance', 'Robust Demand', 'Robust Capacity', 'Robust Inventory'],
      dtype='object')

In [156]:
clean = inv_ga[['date', 'Quantity', 'ZIP_3d', 'sub-category', 'ZIP', 'City', 'State', 'Week',
       'Variance', 'Robust Demand', 'Robust Capacity', 'Robust Inventory']]

In [159]:
fc_demand = clean.groupby(by = ['sub-category', 'ZIP_3d', 'Week'], as_index=False).agg(
{'date' : 'first', 
 'Quantity': 'sum', 
 'ZIP': 'first', 
 'City': 'first', 
 'State': 'first', 
 'Variance': 'first', 
 'Robust Demand': 'sum', 
 'Robust Capacity': 'sum', 
 'Robust Inventory': 'sum'
}
)

#df.groupby(['name'], as_index=False)
#.agg({'value1': 'sum', 'value2': 'sum', 'otherstuff1': 'first', 'otherstuff2': 'first'})

In [160]:
fc_demand

,sub-category,ZIP_3d,Week,date,Quantity,ZIP,City,State,Variance,Robust Demand,Robust Capacity,Robust Inventory
0,f,242,1,2023-01-01,3805,30336,Atlanta,GA,31.125000,9816,0.0,1290
1,f,242,2,2023-01-08,884,30336,Atlanta,GA,46.111111,9963,0.0,0
2,f,242,3,2023-01-15,146,30336,Atlanta,GA,85.300000,7383,0.0,0
3,f,242,4,2023-01-22,162,30336,Atlanta,GA,856.654545,9143,0.0,0
4,f,242,5,2023-01-29,770,30336,Atlanta,GA,1151.181818,6988,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
11512,s,398,45,2023-11-05,0,30336,Atlanta,GA,50.000000,444,0.0,0
11513,s,398,46,2023-11-12,0,30336,Atlanta,GA,180.500000,456,0.0,0
11514,s,398,48,2023-11-26,0,30336,Atlanta,GA,4802.000000,636,0.0,0
11515,s,398,49,2023-12-03,0,30336,Atlanta,GA,18.000000,42,0.0,0
11516,s,398,52,2023-12-24,0,30336,Atlanta,GA,18.000000,42,0.0,0

In [25]:
inv_ga[(inv_ga['Product']==1)&(inv_ga['ZIP_3d']==292)&(inv_ga['Product']==1)]

NameError: name 'inv_ga' is not defined

In [33]:
inv_df[(inv_df['Product']==1)&(inv_df['ZIP_3d']==292)&(inv_df['Product']==1)]

,Unnamed: 0,index,date,Quantity,Product,ZIP_3d,product category,sub-category,ZIP,City,State,Week,Variance,Robust Demand,Robust Capacity
0,0,0,2023-01-01,0,1,292,A,f,30336,Atlanta,GA,1,31.125000,5,0.0
70,70,70,2023-12-31,0,1,292,A,f,30336,Atlanta,GA,1,31.125000,5,0.0
140,140,140,2024-12-29,0,1,292,A,f,30336,Atlanta,GA,1,31.125000,5,0.0
210,210,210,2025-12-28,0,1,292,A,f,30336,Atlanta,GA,1,31.125000,5,0.0
280,280,280,2026-12-27,0,1,292,A,f,30336,Atlanta,GA,1,31.125000,5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2991256,957,2990957,2024-12-22,0,1,292,A,f,30336,Atlanta,GA,52,521.571429,21,NaN
2991326,1027,2991027,2025-12-21,0,1,292,A,f,30336,Atlanta,GA,52,521.571429,21,NaN
2991396,1097,2991097,2026-12-20,0,1,292,A,f,30336,Atlanta,GA,52,521.571429,21,NaN
2991466,1167,2991167,2027-12-19,0,1,292,A,f,30336,Atlanta,GA,52,521.571429,21,NaN
2991536,1237,2991237,2028-12-17,0,1,292,A,f,30336,Atlanta,GA,52,521.571429,21,NaN

# Replenish

In [119]:
def Replenish(df):

    Rep = df.groupby(['Week','Product', 'product category','sub-category'])['Robust Inventory'].sum().reset_index()
    Rep = Rep.rename(columns={'Robust Inventory':'Replenishment'})
    return Rep

In [120]:
GA_rep = Replenish(inv_ga)

In [121]:
GA_rep.to_csv('GA_rep.csv')

In [123]:
GA_rep['Replenishment'].unique()

array([ 2986,  9006, 10447, 15488,  6467,  5306,  9473,  8316,     0,
        3652,   742,  2830,  4842,  8611,  4945,  4082,  2702,  4234,
        3821, 12659,  9665,   993,  2906,  3357,  2956,  2224])

# task 3b

In [164]:
GA_fore.columns

Index(['date', 'Quantity', 'Product', 'ZIP_3d', 'product category',
       'sub-category', 'ZIP', 'City', 'State', 'Week', 'Variance'],
      dtype='object')

In [166]:
clean = GA_fore[['date', 'Quantity', 'Product', 'ZIP_3d', 
       'sub-category', 'ZIP', 'City', 'State', 'Week']]
clean

,date,Quantity,Product,ZIP_3d,sub-category,ZIP,City,State,Week
0,2023-01-01,0,1,292,f,30336,Atlanta,GA,1
1,2023-01-01,0,1,294,f,30336,Atlanta,GA,1
2,2023-01-01,0,1,368,f,30336,Atlanta,GA,1
3,2023-01-01,0,1,282,f,30336,Atlanta,GA,1
4,2023-01-01,0,1,293,f,30336,Atlanta,GA,1
...,...,...,...,...,...,...,...,...,...
3043142,2028-12-17,0,557,290,s,30336,Atlanta,GA,52
3043143,2028-12-17,0,557,296,s,30336,Atlanta,GA,52
3043144,2028-12-17,0,557,297,s,30336,Atlanta,GA,52
3043145,2028-12-17,0,557,317,s,30336,Atlanta,GA,52
3043146,2028-12-17,0,557,392,s,30336,Atlanta,GA,52

In [168]:
fc_demand = clean.groupby(by = ['sub-category', 'ZIP_3d', 'Week'], as_index=False).agg(
{'date' : 'first', 
 'Quantity': 'sum', 
 'ZIP': 'first', 
 'City': 'first', 
 'State': 'first'
}
)

In [170]:
fc_demand.to_csv('task3_b.csv')

In [171]:
fc_demand

      sub-category  ZIP_3d  Week        date  Quantity    ZIP     City State
0                f     242     1  2023-01-01      3805  30336  Atlanta    GA
1                f     242     2  2023-01-08       884  30336  Atlanta    GA
2                f     242     3  2023-01-15       146  30336  Atlanta    GA
3                f     242     4  2023-01-22       162  30336  Atlanta    GA
4                f     242     5  2023-01-29       770  30336  Atlanta    GA
...            ...     ...   ...         ...       ...    ...      ...   ...
11512            s     398    45  2023-11-05         0  30336  Atlanta    GA
11513            s     398    46  2023-11-12         0  30336  Atlanta    GA
11514            s     398    48  2023-11-26         0  30336  Atlanta    GA
11515            s     398    49  2023-12-03         0  30336  Atlanta    GA
11516            s     398    52  2023-12-24         0  30336  Atlanta    GA

[11517 rows x 8 columns]

# 10 Scenario Illustration

In [6]:
task3c_df = pd.read_csv("task3c_res_df.csv")

In [11]:
prd_sub = GA_fore[['Product', 'sub-category']].drop_duplicates()
prd_sub

       Product sub-category
0            1            f
1            2            f
2            3            f
3            4            f
4            5            f
...        ...          ...
13556      312            s
13559      646            s
17261      224            s
17692      752            s
17860      466            s

[584 rows x 2 columns]

In [12]:
task3c_df = pd.merge(task3c_df, prd_sub, on = 'Product')

In [15]:
task3c_df = task3c_df.rename(columns = {'Unnamed: 0': 'week'})

In [17]:
task3c_df.columns

Index(['week', 'date', 'Quantity', 'Product', 'ZIP_3d', 'scenario1',
       'scenario2', 'scenario3', 'scenario4', 'scenario5', 'scenario6',
       'scenario7', 'scenario8', 'scenario9', 'scenario10', 'stoc_avg',
       'sum_scene', 'State', 'City', 'sub-category'],
      dtype='object')

In [20]:
fc_demand = task3c_df.groupby(by = ['sub-category', 'ZIP_3d', 'week'], as_index=False).agg(
{'date' : 'first', 
 'Quantity': 'sum', 
 'City': 'first', 
 'State': 'first',
 'scenario1': 'sum',
 'scenario2': 'sum',
 'scenario3': 'sum',
 'scenario4': 'sum',
 'scenario5': 'sum',
 'scenario6': 'sum',
 'scenario7': 'sum',
 'scenario8': 'sum',
 'scenario9': 'sum',
 'scenario10': 'sum',
 'stoc_avg': 'sum'
}
)

In [23]:
fc_demand

,sub-category,ZIP_3d,week,date,Quantity,City,State,scenario1,scenario2,scenario3,scenario4,scenario5,scenario6,scenario7,scenario8,scenario9,scenario10,stoc_avg
0,f,242,0,2023-01-01,0,Atlanta,GA,1221,1193,1485,1500,1144,1150,1413,1238,1480,1420,1306
1,f,242,1,2023-01-08,0,Atlanta,GA,1298,1186,1125,1342,1545,1429,1233,1154,1261,1457,1283
2,f,242,2,2023-01-15,0,Atlanta,GA,1191,1343,1682,1383,1058,1202,1220,1478,1220,1090,1269
3,f,242,3,2023-01-22,79,Atlanta,GA,1251,1337,1280,1633,1258,1306,1235,1310,1313,1293,1306
4,f,242,4,2023-01-29,73,Atlanta,GA,1571,1389,1297,1296,1169,1324,1379,1246,1538,1395,1343
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67819,s,398,309,2028-12-03,0,Atlanta,GA,63,38,83,88,48,97,65,47,52,57,63
67820,s,398,310,2028-12-10,0,Atlanta,GA,2,72,44,55,37,36,78,66,55,51,49
67821,s,398,311,2028-12-17,0,Atlanta,GA,74,43,23,65,39,91,32,83,22,87,55
67822,s,398,312,2028-12-24,0,Atlanta,GA,62,67,72,28,44,87,41,49,49,31,52
67823,s,398,313,2028-12-31,0,Atlanta,GA,47,87,58,60,82,54,74,60,66,42,62

# Task 4c

In [37]:
rep_dc = pd.read_csv('Rep_DC.csv')

In [38]:
rep_dc = rep_dc.drop(axis = 1, columns = ['Unnamed: 0'])

In [58]:
demo = rep_dc[rep_dc['Product']==1]
len(demo)

19

In [48]:
def trend_generator(rate, length, variation = False, opt=None, cons=None):
    
    '''
    return: 
    if variation = true
    lsts of day trend, day trend opt, day trend cons, day counter
    
    if variation = false
    lsts of day trend, day counter
    '''
    
    if variation == False:
        
        lst_of_dt = []
        counter = []
        for i in range(length):
            lst_of_dt.append(pow(pow(rate, length/365), i/length))
            counter.append(i+1)
        return lst_of_dt, counter

In [172]:
date = [x+1 for x in range(19*7)]
da2024 = date[0:38]
da2025 = date[38:57]
da2028 = date[57:]

In [174]:
len(da2028)
#len(dt2028)

76

In [175]:
len(da2024 + da2025 + da2028)
#len(dt2024 + dt2025 + dt2028)

133

In [176]:
dt2024, counter =  trend_generator(1.5, len(da2024))
dt2025, counter =  trend_generator(2.0/1.5, len(da2025))
dt2028, counter =  trend_generator(1.5, len(da2028))

In [177]:
rep_dc

,20d,Product,product category,sub-category,Demand,Robust Capacity,Robust Inventory
0,1,1,A,f,28402,58,25502
1,1,2,A,f,25973,54,23273
2,1,3,A,f,25480,53,22830
3,1,4,A,f,20605,43,18455
4,1,5,A,f,23405,48,21005
...,...,...,...,...,...,...,...
10388,19,777,Y,s,2196,2,2096
10389,19,778,Y,s,1400,1,1350
10390,19,783,Y,s,1251,1,1201
10391,19,786,Y,s,664,1,614
10392,19,787,Y,s,1246,1,1196

In [178]:
uni_iter = rep_dc['Product'].unique()

In [239]:
def ramp_demand(prd):
    df = rep_dc[rep_dc['Product']==prd]
    
    if len(df) != 19:
        return None
    dm = df['Demand'].tolist()
    rc = df['Robust Capacity'].tolist()
    ri = df['Robust Inventory'].tolist()
    
    dm24 = dm + dm
    dm28 = dm + dm + dm + dm 
    rc24 = rc + rc
    rc28 = rc + rc + rc + rc
    ri24 = ri + ri
    ri28 = ri + ri + ri + ri
    
    
    dpdm2024 = [int(x*y) for x,y in zip(dt2024,dm24)]
    dpdm2025 = [int(x*y) for x,y in zip(dt2025,[1.5*x for x in dm])]
    dpdm2028 = [int(x*y) for x,y in zip(dt2028,[2*x for x in dm28])]
    
    dprc2024 = [int(x*y) for x,y in zip(dt2024,rc24)]
    dprc2025 = [int(x*y) for x,y in zip(dt2025,[1.5*x for x in rc])]
    dprc2028 = [int(x*y) for x,y in zip(dt2028,[2*x for x in rc28])]
    
    dpri2024 = [int(x*y) for x,y in zip(dt2024,ri24)]
    dpri2025 = [int(x*y) for x,y in zip(dt2025,[1.5*x for x in ri])]
    dpri2028 = [int(x*y) for x,y in zip(dt2028,[2*x for x in ri28])]
    
    res = pd.DataFrame()

    
    res['20_days'] = date
    res['Demand'] = dpdm2024 + dpdm2025 + dpdm2028
    res['Robust Capacity'] = dprc2024 + dprc2025 + dprc2028
    res['Robust Inventory'] = dpri2024 + dpri2025 + dpri2028
    
    return res

In [240]:
df_lst = []
for prd in uni_iter:
    print(prd)
    df = ramp_demand(prd)
    if df is not None:
        df['Product'] = prd
        df_lst.append(df)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
20
21
22
24
27
29
34
55
56
60
61
62
63
64
65
66
67
68
69
70
72
74
75
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
143
144
145
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
165
167
168
169
170
172
173
174
175
176
177
178
181
182
183
185
187
189
191
194
195
196
197
200
208
209
214
216
236
237
240
246
247
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
293
305
306
307
308
309
311
313
314
316
317
319
320
321
322
323
324
325
326
327
328
329
330
333
334
336
337
338
340
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
417
419
423
426
451
454
455
456
457
458
460
461
463
464
465
467
468
469
470
471
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
497
498
499
500
501
502
503
505
506
507
508
510
511
512
513
514
515
516
517
518
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
540
541
543
544
545
546
547
548
549
550
551
552
553
555
557
558
560
563
569
574
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
646
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
716
717
722
726
735
736
737
741
742
746
754
755
756
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
777
778
780
781
782
783
786
19
23
71
142
164
171
179
198
205
224
238
248
292
312
332
420
452
504
744
787
204
416
492
566
576
241
466
239
430
644
242
718
757

In [241]:
res_df_4c = pd.concat(df_lst)

In [251]:
res_df_4c

     20_days  Demand  Robust Capacity  Robust Inventory  Product
0          1   28402               58             25502        1
1          2   34239               70             30735        1
2          3   47909               98             42998        1
3          4   27002               55             24243        1
4          5   38862               79             34894        1
..       ...     ...              ...               ...      ...
128      129  106797               56            103984      778
129      130    4697                4              4480      778
130      131   14800                8             14367      778
131      132   15965                8             15531      778
132      133    3043                2              2934      778

[55062 rows x 5 columns]

# Task 4b

In [245]:
DC_prd = pd.read_csv('DC_20d_prd.csv')

In [248]:
DC_prd = DC_prd.drop(axis = 1, columns = 'Unnamed: 0')

In [250]:
DC_prd

,20d,Product,product category,sub-category,Variance,Quantity,Robust Demand,Robust Capacity,Robust Inventory
0,1,1,A,f,503.109874,22550,31652,65,28402
1,1,2,A,f,479.256168,20638,28973,60,25973
2,1,3,A,f,1580.275659,20203,28430,59,25480
3,1,4,A,f,287.572769,16352,22955,47,20605
4,1,5,A,f,2777.847772,18509,26105,54,23405
...,...,...,...,...,...,...,...,...,...
10388,19,777,Y,s,70.700000,399,2296,2,2196
10389,19,778,Y,s,46.333333,250,1450,1,1400
10390,19,783,Y,s,157.000000,216,1301,1,1251
10391,19,786,Y,s,32.000000,120,714,1,664
10392,19,787,Y,s,91.000000,219,1296,1,1246

In [255]:
def ramp_demand_4b(prd):
    df = rep_dc[rep_dc['Product']==prd]
    
    if len(df) != 19:
        return None
    dm = df['Demand'].tolist()
    rc = df['Robust Capacity'].tolist()
    ri = df['Robust Inventory'].tolist()
    
    dm24 = dm + dm
    dm28 = dm + dm + dm + dm 
    rc24 = rc + rc
    rc28 = rc + rc + rc + rc
    ri24 = ri + ri
    ri28 = ri + ri + ri + ri
    
    
    dpdm2024 = [int(x*y) for x,y in zip(dt2024,dm24)]
    dpdm2025 = [int(x*y) for x,y in zip(dt2025,[1.5*x for x in dm])]
    dpdm2028 = [int(x*y) for x,y in zip(dt2028,[2*x for x in dm28])]
    
    dprc2024 = [int(x*y) for x,y in zip(dt2024,rc24)]
    dprc2025 = [int(x*y) for x,y in zip(dt2025,[1.5*x for x in rc])]
    dprc2028 = [int(x*y) for x,y in zip(dt2028,[2*x for x in rc28])]
    
    dpri2024 = [int(x*y) for x,y in zip(dt2024,ri24)]
    dpri2025 = [int(x*y) for x,y in zip(dt2025,[1.5*x for x in ri])]
    dpri2028 = [int(x*y) for x,y in zip(dt2028,[2*x for x in ri28])]
    
    res = pd.DataFrame()

    
    res['20_days'] = date
    res['Demand'] = dpdm2024 + dpdm2025 + dpdm2028
    res['Robust Capacity'] = dprc2024 + dprc2025 + dprc2028
    res['Robust Inventory'] = dpri2024 + dpri2025 + dpri2028
    
    inv = dpri2024 + dpri2025 + dpri2028
    sum_scene = [0 for x in inv]
    
    for i in range(10):
        col_name = 'Capacity_Scenario_'
        col_name = col_name + str(i+1)
        scene = [x + np.random.randint(-int(x/3), int(x/3)+1) if x>0 else x + np.random.randint(max(demand)/3) for x in inv]
        res[col_name] = scene
        sum_scene = [x+y for x,y in zip(sum_scene, scene)]
        
    res['stoc_avg'] = [int(x/10) for x in sum_scene]
    res['sum_scene'] = sum_scene

    return res

In [257]:
df_lst = []
for prd in uni_iter:
    print(prd)
    df = ramp_demand_4b(prd)
    if df is not None:
        df['Product'] = prd
        df_lst.append(df)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
20
21
22
24
27
29
34
55
56
60
61
62
63
64
65
66
67
68
69
70
72
74
75
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
143
144
145
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
165
167
168
169
170
172
173
174
175
176
177
178
181
182
183
185
187
189
191
194
195
196
197
200
208
209
214
216
236
237
240
246
247
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
293
305
306
307
308
309
311
313
314
316
317
319
320
321
322
323
324
325
326
327
328
329
330
333
334
336
337
338
340
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
417
419
423
426
451
454
455
456
457
458
460
461
463
464
465
467
468
469
470
471
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
497
498
499
500
501
502
503
505
506
507
508
510
511
512
513
514
515
516
517
518
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
540
541
543
544
545
546
547
548
549
550
551
552
553
555
557
558
560
563
569
574
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
646
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
716
717
722
726
735
736
737
741
742
746
754
755
756
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
777
778
780
781
782
783
786
19
23
71
142
164
171
179
198
205
224
238
248
292
312
332
420
452
504
744
787
204
416
492
566
576
241
466
239
430
644
242
718
757

In [258]:
res_4b_df = pd.concat(df_lst)

In [260]:
res_4b_df.to_csv('res_4b_df.csv')

In [261]:
res_4b_df

,20_days,Demand,Robust Capacity,Robust Inventory,Capacity_Scenario_1,Capacity_Scenario_2,Capacity_Scenario_3,Capacity_Scenario_4,Capacity_Scenario_5,Capacity_Scenario_6,Capacity_Scenario_7,Capacity_Scenario_8,Capacity_Scenario_9,Capacity_Scenario_10,stoc_avg,sum_scene,Product
0,1,28402,58,25502,31066,26047,23716,26832,20230,23730,31633,32545,23086,17341,25622,256226,1
1,2,34239,70,30735,23787,35791,33332,22266,37241,27965,28810,21687,24731,33683,28929,289293,1
2,3,47909,98,42998,40495,39190,29571,49285,36923,29009,47578,54694,40745,40839,40832,408329,1
3,4,27002,55,24243,28183,26267,22405,21289,20192,28317,19626,26323,24753,17654,23500,235009,1
4,5,38862,79,34894,44290,42658,36737,28476,33378,32203,36093,45919,31015,34578,36534,365347,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,129,106797,56,103984,127207,69869,80653,71827,109029,87572,105030,91342,102794,114493,95981,959816,778
129,130,4697,4,4480,3278,5915,4079,5711,4300,5835,4998,4943,3826,4930,4781,47815,778
130,131,14800,8,14367,17624,16527,18624,14293,9807,18098,11448,18209,18899,9735,15326,153264,778
131,132,15965,8,15531,20243,19512,13027,16573,14407,12899,10748,19719,17847,12930,15790,157905,778
132,133,3043,2,2934,3010,2837,2978,3875,2288,3302,2483,3210,3367,3777,3112,31127,778

In [ ]:
def sto_generator(prd, zip3, num_scene):
    df = ramp_demand(prd,zip3)
    df['Product'] = prd
    df['ZIP_3d'] = zip3
    demand = df['Quantity'].to_list()
    
    
    
    return df, col_lst